<ul class="collection with-header">
    <li class="collection-header" style="
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        ">
        <h3>Places</h3>
        <a href="addplaces" class="btn-floating btn-large waves-effect waves-light red">
            <i class="material-icons">add</i>
        </a>
    </li>
    {{#each places}}
    <li class="collection-item">
        <div style="display: inline-block;">
            <h5 style="display: inline-block;">
                {{this.name}}
            </h5>
            {{#if this.googleMapsLink}}
                <a style="word-break: break-all;" href="{{this.googleMapsLink}}"><i class="material-icons">place</i></a>
            {{/if}}
         </div> 
        <a href="editplaces/{{this.id}}" class="secondary-content">Edit</a>
        
    </li>
    {{/each}}
</ul>