<div class="row">
    <div class="s6">
        <div class="row">
            <form class="col s12" action="/register" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Placeholder" id="email" type="text" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Placeholder" id="email" type="text" class="validate">
                        <label for="email">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <button type="submit">
            </form>
        </div>
    </div>
</div>