{{#if error}}
<div class="red-text">
    <div class="container">
        <h3>Error</h3>
        <p class="">{{error}}</p>
    </div>
</div>
{{/if}}
{{#if msg}}
<div class="blue-text">
    <div class="container">
        <p class="">{{msg}}</p>
    </div>
</div>
{{/if}}